.img-container{
    width: 1114px;
    height: 290px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
}

.carousel-control-next,
.carousel-control-prev{
    width: 30%;
}

.carousel-caption, .d-none, .d-md-block{
    background-color: rgba(102, 94, 94, 0.5); 
    color: white;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    
}

.carousel-caption, .d-none, .d-md-block h5{
    font-size: 35px;
}

.carousel-caption, .d-none, .d-md-block p{
    font-size: 19px;
}

#title{
    text-align: center;
}

.container{
    text-align: center;
    margin-top: 70px;
}

.container h2{
    font-size: 40px;
}

.card-img-top{
    width: 220px; 
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}


.cards{
    display: flex;
    justify-content: center;
}

.um,
.dois{
    margin-right: 40px;   
}

.quantity{
    width: 8px;
    height: 10px;
    border: none;
}

.cart-qty-minus{
    margin-right: 40px;
}

.quantity{
    margin-right: 40px;
}